body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000020;

}

#theButton {
    padding: 20px;
    font-size: 50px;
    background-color: #000050;
    color: #00F0FF;
    font-family: 'Aquire', sans-serif;
    box-shadow: 0px 0px 10px #00F0FF, 0 0 20px;
    border-radius: 10px;
}

#display {
    color: #FFFFFF;
    font-family: 'Aquire', sans-serif;
    font-size: 20px;
    text-shadow:  0 0 50px #00F0FF, 0 0 100px #00F0FF;
}

#upgrade {
    font-family: 'Aquire', sans-serif;
    margin-top: 50px;
}

#upgrade2 {
  font-family: 'Aquire', sans-serif;
  margin-top: 20px;
}